@model test2.Models.ManagementModels.ZhongXian.Appoimtment.AppoimtmentResult

<div class="d-flex justify-content-between align-items-end">
    <div class="d-flex flex-wrap gap-3 justify-content-end">
        <div>
            <label for="appointmentMode_status" class="form-label mb-0">目前狀態：</label>
            <select id="appointmentMode_status" name="appointmentMode_status" class="form-select form-select-sm">
                <option value="IsLent">借閱中</option>
                <option value="Available">可借閱</option>
                <option value="ALL" >全部</option>
            </select>
        </div>
        <div>
            <label for="appointmentMode_perPage" class="form-label mb-0">每頁筆數：</label>
            <select id="appointmentMode_perPage" name="appointmentMode_perPage" class="form-select form-select-sm">

                @foreach (var option in new[] { 10, 20, 30 })
                {
                    <option value="@option" selected="@(Model.perPage == @option ? "selected": "")">@option</option>
                }

            </select>
        </div>
    </div>
    <div class="mt-1 fs-5 d-flex flex-wrap gap-3 justify-content-start">總共 @Model.TotalCount  筆資料__目前  第 @Model.FromIndex 筆 至  第 @Model.ToIndex 筆 __ 目前頁數:@Model.CurrentPage/ @Model.TotalPage</div>
</div>
<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">書籍名稱</th>
            <th scope="col">作者</th>
            <th scope="col">狀況</th>
            <th scope="col">預約人數</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AppoimtmentKeywordShows?.Count != 0)
        {
            @foreach (var bok in Model.AppoimtmentKeywordShows!)
            {
                <tr>
                    <td class="align-middle text-truncate" style="max-width: 200px" title="@bok.title" data-bookid="@bok.collectionid">@bok.title</td>
                    <td class="align-middle text-truncate" style="max-width:200px" title="@bok.author"> @bok.author </td>
                    @if (@bok.bookstatus == "可借閱")
                    {
                        <td class='align-middle text-bg-success'>@bok.bookstatus</td>
                        <td class="align-middle">在本館中</td>
                        <td></td>
                    }
                    else if (@bok.bookstatus == "借閱中")
                    {
                        <td class='align-middle text-bg-danger'>@bok.bookstatus</td>
                        <td class="align-middle">@bok.number</td>
                        <td><button type="button" class="btn btn-success AppointmentMode_AddBookNumBtn">加入</button></td>
                    }
                    else
                    {
                        <td class='align-middle text-bg-secondary'>@bok.bookstatus</td>
                        <td class="align-middle">@bok.number</td>
                        <td><button type="button" class="btn btn-success AppointmentMode_AddBookNumBtn disabled">加入</button></td>
                    }

                </tr>
            }
        }
    </tbody>
</table>


@if (Model.TotalPage != 1)
{
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    @if (Model.CurrentPage <= 1)
                    {
                        <a class="page-link disabled" href="#" aria-label="Previous" data-page="" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    }
                    else
                    {
                        <a class="page-link" href="#" aria-label="Previous" data-page="@(Model.CurrentPage - 1)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    }

                </li>
                @for (int x = 1; x < Model.TotalPage + 1; x++)
                {
                    <li class="page-item"><a class="page-link" href="#" data-page="@x">@x</a></li>
                }
            <li class="page-item">
                @if (Model.CurrentPage == Model.TotalPage)
                {
                    <a class="page-link disabled" href="#" aria-label="Next" data-page="">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else
                {
                    <a class="page-link" href="#" aria-label="Next" data-page="@(Model.CurrentPage + 1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
            </ul>
        </nav>
    </div>
}
