@*以下正式版*@
@model test2.Models.ManagementModels.ZhongXian.BorrowQuery.BorrowQueryViewModel


@if (Model.BorrowQueryDTOs?.Count != 0)
{
    <div class="mt-1 fs-5">@($"總共 {@Model.TotalCount} 筆紀錄 目前:{@Model.FromIndex} 至 {@Model.ToIndex}   目前頁數:   {@Model.CurrentPage} / {@Model.TotalPage}")</div>
    <table class="table mt-1 table-hover">
        <thead>
            <tr>
                <th scope="col">借閱編號</th>
                <th scope="col">書籍編號</th>
                <th scope="col">借閱書籍</th>
                <th scope="col">借閱人編號</th>
                <th scope="col">借閱日期</th>
                <th scope="col">借閱期限</th>
                <th scope="col">還書日期</th>
                <th scope="col">借閱狀況</th>
                <th scope="col" class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.BorrowQueryDTOs!)
            {
                <tr>
                    <td class="align-middle">@x.borrowId</td>
                    <td class="align-middle ">@x.bookCode</td>
                    <td class="align-middle text-truncate BorrowBookTitle" style="max-width:200px" title="@x.title">@x.title</td>
                    <td class="align-middle text-truncate NotificationUserid" style="max-width:100px" title="@x.cId">@x.cId</td>
                    <td class="align-middle">@x.borrowDate</td>
                    <td class="align-middle BorrowDueDate">@x.dueDateB</td>
                    <td class="align-middle">@x.returnDate </td>
                    @if (@x.borrowStatus == "借閱中")
                    {
                        <td class='text-bg-warning align-middle fw-bold'>@x.borrowStatus</td>
                        <td class="align-middle align-items-center text-center "><button class="btn btn-warning mx-3 NotificationBtn" data-bs-toggle="modal" data-bs-target="#notificationModal" data-type="notification">通知</button></td>
                        ;
                    }
                    @if (@x.borrowStatus == "已歸還")
                    {
                        <td class='text-bg-success align-middle fw-bold'>@x.borrowStatus</td>
                        <td class="align-middle align-items-center text-center "><button class="btn btn-secondary mx-3 NotificationBtn disabled" data-bs-toggle="modal" data-bs-target="#notificationModal" data-type="notification">通知</button></td>
                    }
                    @if (@x.borrowStatus == "逾期")
                    {
                        <td class='text-bg-danger align-middle fw-bold'>@x.borrowStatus</td>
                        <td class="align-middle align-items-center text-center "><button class="btn btn-warning mx-3 NotificationBtn" data-bs-toggle="modal" data-bs-target="#notificationModal" data-type="notification">通知</button></td>
                        ;
                    }
                </tr>
            }

        </tbody>
    </table>
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            @if (Model.TotalPage != 1)
            {
                <ul class="pagination">
                    <li class="page-item">
                        @if (@Model.CurrentPage == 1){<a class="page-link disabled" href="#" aria-label="Previous" data-page=""><span aria-hidden="true">&laquo;</span></a>}
                        else{ <a class="page-link" href="#" aria-label="Previous" data-page="@(Model.CurrentPage -1)"><span aria-hidden="true">&laquo;</span></a>}
                    </li>
                    @for (int x = 1; x <= @Model.TotalPage; x++)
                    {
                        @if(@Model.TotalPage != 1) {
                            if (Model.CurrentPage == x) {<li class="page-item"><a class="page-link bg-dark bg-gradient text-white disabled" href="#" data-page="@x">@x</a></li> }
                            else {<li class="page-item"><a class="page-link" href="#" data-page="@x">@x</a></li> }}                    
                    }
                    <li class="page-item">
                        @if (@Model.CurrentPage == @Model.TotalPage)
                        {<a class="page-link disabled" href="#" aria-label="Next" data-page=""><span aria-hidden="true">&raquo;</span></a>}
                        else
                        { <a class="page-link" href="#" aria-label="Next" data-page="@(@Model.CurrentPage + 1)"><span aria-hidden="true">&raquo;</span></a>}
                    </li>
                </ul>
            }
        </nav>
    </div>
}
else
{
    <div class="alert alert-danger fs-1 mt-5">查無資料</div>
}





<div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border">
            <div class="modal-header">
                <h5 class="modal-title">通知訊息</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="CancelBox"></button>
            </div>
            <div class="modal-body">
                <form id="NotificationFom">
                    <div class="mb-3">
                        <label for="NotificationId" class="form-label">收件人編號:</label>
                        <input type="number" class="form-control" id="NotificationId" name="NotificationId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="NotificationType" class="form-label">通知類型:</label>
                        <select class="form-select" id="NotificationType" name="NotificationType">
                            <option value="UpcomingExpirationNotice" selected>即將到期通知</option>
                            <option value="ExpirationNoticeWarning">到期通知警告</option>
                            <option value="Other" >其他</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="NotificationTextarea" class="form-label">內容</label>
                        <textarea class="form-control" id="NotificationTextarea" rows="4" name="NotificationTextarea"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-success" id="NotificationSend">送出</button>
                <button type="button" class="btn btn-danger" id="NotificationClear">清除</button>
            </div>
        </div>
    </div>
</div>




